body {
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

body div {
    padding: 65px 300px 10px 300px;
    text-align: center;
    height: 10%;
}

form {
    box-shadow: 10px 5px 5px #ff80b3;
    padding: 15px 0 0 0;
    display: flexbox;
}

.inputArea {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    box-shadow: 10px black;

}

label h3 input {
    margin: 100px;
    padding: 100px;
}

.radioParc {
    size: 2em;
    margin: 0 0 0 1em;
}